// Copyright (c) 2025 Alejandro Gonzales-Irribarren <alejandrxgzi@gmail.com>
// Distributed under the terms of the Apache License, Version 2.0.

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    alejandrogzi/isox Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

cleanup = false
workDir = 'work'

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    DEFAULT PARAMETER VALUES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// Global default params, used in configs
params {
    // Entrypoint
    entrypoint      = 'isoseq'    // isoseq or map

    // Global input options
    global_input_dir       =  ''         // FILL: input directory containing fastq files
    global_output_dir      =  ''         // FILL: output directory
    global_genome          =  ''         // FILL: path to genome file (2bit/fa/fa.gz)
    global_primers         =  ''         // FILL: path to primers fasta file (fa)
    global_annotation      =  ''         // FILL: path to annotation file (bed/gtf/gff/gff.gz)
    global_repeats         =  ''         // FILL: path to repeats file (bed3)
    global_env             =  null       // FILL: path to environment dir

    // Optional global input options
    global_species_name    =  ''         // FILL: species name [ controls loading tracks dir naming ]

    // CCS options
    ccs_chunk           =  16          // number of chunks [ default: 16 ]
    ccs_rq              =  0.95        // --min-rq [ default: 0.95 ]

    // Isoseq cluster2 options
    isoseq_cluster2_mode    = "both" // per_sample, multi_sample, both

    // Bamtofa options
    bamtofa_keep_temp = false // keep temporary bam files [ default: false ]

    // SpliceAI options
    spliceai_bigwigs_dir       = null  // path to spliceai bigwigs [ optional; avoids raw run ]
    spliceai_scores_path       = null  // path to spliceai splice scores [ optional; avoids raw run + derived run ]
    spliceai_chunk_compression = false // compress spliceai chunks [ default: false ]

    // Minisplice options
    minisplice_scores_path = null  // path to minisplice splice scores [ optional; avoids raw run ]

    // Minimap2 index options
    minimap2_index_path = null  // path to minimap2 index [ optional ]

    // Minimap2 alignment options
    minimap2_align_max_intron_size      = "1600k"     // max intron size [ default: 1600k ]
    minimap2_align_splice_alignment     = "splice:hq" // splice alignment [ default: splice:hq ]
    minimap2_align_secondary_alignments = "no"        // secondary alignments [ default: no ]
    minimap2_align_cigar_tag            = "long"      // cigar tag [ default: long ]
    minimap2_align_keep_sam             = false       // keep sam [ default: false ]
    minimap2_align_use_junc_bed         = true        // use junc bed [ default: true, maps to global_annotation ]
    minimap2_align_use_splice_scores    = false       // use splice scores [ default: false ]
    minimap2_align_splicing_algorithm   = "minisplice"  // splicing scoring algorithm [ options: spliceai, minisplice ]

    // Fxsplit options
    fxsplit_chunk_size = 100 // chunk size for fxsplit [ default: 100 ]

    // Isotools segment options
    isotools_segment_min_identity = 60                   // min identity to be considered [ default: 60% ]
    isotools_segment_identity_threshold = 98             // identity threshold to determine HQ/LQ [ default: 98% ]
    isotools_segment_tail_suffix_length = 30             // tail suffix length; how many bp to consider as a tail [ default: 30bp ]
    isotools_segment_suffix_step_size = 50               // suffix step size [ default: 50bp ]
    isotools_segment_max_five_prime_clip = 20            // max 5' clip [ default: 20bp ]
    isotools_segment_max_three_prime_clip = 20           // max 3' clip [ default: 20bp ]
    isotools_segment_hmm_transition_probability = 0.9    // transition probability [ default: 0.9 ]
    isotools_segment_hmm_emission_probability = 0.99     // emission probability [ default: 0.99 ]
    isotools_segment_keep_low_quality_reads = false      // keep low quality reads [ default: false ]

    // Isotools fusion options
    isotools_fusion_threshold = 0.5                      // fusion threshold [ default: 0.5 ]
    isotools_fusion_recover_components = true            // recover components [ default: true ]
    isotools_fusion_intronic_match = false               // intronic match instead of splice match [ default: false ]
    isotools_fusion_overlap_type = "exon"                // overlap type [ exon, cds, cds_bounded ]
    isotools_fusion_reference_separator = "#"            // reference separator [ default: '#' ]
    isotools_fusion_reference_parent_index = 1           // reference parent index [ default: 1 ]
    isotools_fusion_output_descriptor = true             // output descriptor [ default: true ]

    // xORF options
    xorf_protein_database                  =  ''    // FILL: path to swissprot database
    xorf_chunk_size                        = 10     // chunk size [ default: 10 ]
    xorf_predict_keep_raw                  = true   // keep raw predictions [ default: false ]
    xorf_predict_min_score_max_predictions = 0.50   // min score to be considered [ default: 0.50 ]
    xorf_predict_max_predictions           = 3      // max predictions to be considered above min_score_max_predictions [ default: 3 ]
    xorf_predict_threshold                 = 0.5    // threshold to be considered [ default: 0.5 ]
    xorf_samba_weights = 'https://github.com/apcamargo/RNAsamba/raw/refs/heads/master/data/full_length_weights.hdf5'

    // Isotools NMD options
    isotools_nmd_distance            = 55   // distance to last exon junction [ default: 55 ]
    isotools_nmd_weak_distance       = 80   // weak distance to last exon junction [ default: 80 ]
    isotools_nmd_atg_distance        = 100  // distance to ATG [ default: 100 ]
    isotools_nmd_big_exon_dist_to_ej = 400  // distance to last exon junction for big exons [ default: 400 ]

    // xloci options [intron]
    xloci_upstream_flank = 100    // upstream flank [ default: 100 ]
    xloci_downstream_flank = 100  // downstream flank [ default: 100 ]

    // Isotools intron classifier options
    isotools_classify_spliceai_min_ss_signal     = 0.02 // min signal to be considered significant [ default: 0.02 ]
    isotools_classify_rt_frequency_threshold     = 0.5  // frequency threshold to be considered [ default: 0.5 ]
    isotools_classify_intron_frequency_threshold = 0.5  // frequency threshold to be considered [ default: 0.5 ]
    isotools_classify_maxent_min_ss_signal       = 1.5  // frequency threshold to be considered [ default: 0.5 ]

    // APARENT chunker options
    aparent_chunker_chunk_size       = 100 // chunk size [ default: 100 ]
    aparent_chunker_upstream_flank   = 100 // upstream flank [ default: 100bp ]
    aparent_chunker_downstream_flank = 100 // downstream flank [ default: 100bp ]

    // APARENT predict options
    aparent_peak_threshold  = 0.001 // peak threshold [ default: 0.001 ]
    aparent_predict_weights = 'https://github.com/johli/aparent/raw/refs/heads/master/saved_models/aparent_large_lessdropout_all_libs_no_sampleweights.h5'

    // Bigtools bedgraphtobigwig options
    bigtools_keep_bedgraph = false // keep temporary bedgraph files [ default: false ]

    // Load tracks options
    load_track            = true                                    // WARN: upload to public browser [default: true]
    load_track_user       = 'agi'                                   // FILL: browser username
    load_track_server     = 'genome'                                // FILL: browser server [default: genome]
    load_track_target_dir = '/genome/gbdb-HL'                       // FILL: target output dir on server [prefix: isopipe]
    load_track_web        = '/genome/www/data'                      // FILL: web storage dir for .bb files
    load_track_browser    = 'http://genome.tbg.senckenberg.de/data' // FILL: browser URL
    load_track_name       = 'HLisopipe'                             // FILL: track name

    // Mailing options
    sent_email                  = true               // decides to send email or not
    smtp_server                  = 'smtp.gmail.com'  // smtp server [default: smtp.gmail.com]
    smtp_port                    = 465               // smtp port [default: 465]
    smtp_user                    = null              // smtp user [sender]
    smtp_password                = null              // smtp password [sender]
    smtp_security                = 'ssl'             // smtp security [none, tls, ssl]
    email_to                     = null              // recipient email address
    email_on_fail                = null              // email_on_fail
    plaintext_email              = false             // plaintext_email
    interactive                  = false             // interactive
    use_mailx                    = false             // use_mailx instead smtp

    // Boilerplate options
    publish_dir_mode             = 'copy'   // publish_dir_mode
    publish_all                  = false    // publish all
    help                         = false    // help
    help_full                    = false    // help_full
    show_hidden                  = false    // show_hidden
    version                      = false    // version
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')  // Config options

    // Config options
    config_profile_name        = null
    config_profile_description = null

    // Slurm options
    queue_size                  = 500
    array_size                  = null
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    EXTENDING PROCESS DEFINITIONS AND ARGUMENTS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// Default publishing logic for pipeline


// Overwriting conda path for selected processes
process {
    if ( params.global_env ) {
        withName: '.*:PREPARE_INDEXES:.*' {
            conda = params.global_env
        }
        withName: '.*:PREPROCESS_READS:.*' {
            conda = params.global_env
        }
        withName: '.*:STAR_ALIGNMENT:.*' {
            conda = params.global_env
        }
        withName: '.*:ALETSCH' {
            conda = params.global_env
        }
        withName: '.*:MULTIQC' {
            conda = params.global_env
        }
        withName: '.*:EMAIL_RESULTS' {
            conda = params.global_env
        }
    }
}

// Default args for all processes

process {
    if ( params.publish_all ) {
        publishDir = [
            path: { "${params.global_output_dir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:PBCCS' {
        publishDir = [
            path: { "${params.global_output_dir}/01_PBCCS" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = " --min-rq ${params.ccs_rq}"
    }

    withName: '.*:LIMA' {
        publishDir = [
            path: { "${params.global_output_dir}/02_LIMA" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = "--isoseq --peek-guess"
        ext.prefix = { "${meta.id}_fl" }
    }

    withName: '.*:ISOSEQ_REFINE' {
        publishDir = [
            path: { "${params.global_output_dir}/03_ISOSEQ_REFINE" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = { "${meta.id}_flnc" }
    }

    withName: '.*:ISOSEQ_CLUSTER' {
        publishDir = [
            path: { "${params.global_output_dir}/04_ISOSEQ_CLUSTER" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = "--singletons"
    }

    withName: '.*:ISOSEQ_CLUSTER2' {
        publishDir = [
            path: { "${params.global_output_dir}/04_ISOSEQ_CLUSTER2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = "--singletons"
        ext.prefix = { "${meta.id}_clustered" }
    }

    withName: '.*:ISOSEQ_CLUSTER2_MULTI_SAMPLE' {
        publishDir = [
            path: { "${params.global_output_dir}/04_ISOSEQ_CLUSTER2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = "--singletons"
        ext.prefix = { "${meta.id}_clustered" }
    }

    withName: '.*:BAM_TO_FA.*' {
        publishDir = [
            path: { "${params.global_output_dir}/05_BAM_TO_FA" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.keep_temp = { params.bamtofa_keep_temp }
    }

    withName: '.*:MINISPLICE_PREDICT|.*:SPLICEAI_DERIVE' {
        publishDir = [
            path: { "${params.global_output_dir}/00_SPLICING_SCORES" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:SPLICEAI_PUBLISH' {
        publishDir = [
             path: { "${params.global_output_dir}/00_SPLICEAI" },
             mode: params.publish_dir_mode,
             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:MINIMAP2_INDEX' {
        publishDir = [
            path: { "${params.global_output_dir}/06_MINIMAP2_INDEX" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:MINIMAP2_ALIGN' {
        publishDir = [
            path: { "${params.global_output_dir}/06_MINIMAP2_ALIGN/SAM" },
            mode: 'symlink', // INFO: avoid copying large .sam files
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args   = {
            // Standard configuration!
            def args = [ 
              "-a",
              "-c",
              "--eqx",
              "-uf",
              "-C5",
              "-G ${params.minimap2_align_max_intron_size}",
              "-ax ${params.minimap2_align_splice_alignment}",
              "--secondary=${params.minimap2_align_secondary_alignments}",
              "-cs ${params.minimap2_align_cigar_tag}",
            ]

            return args.join(' ')
        }
        ext.keep_temp = { params.minimap2_align_keep_sam }
    }

    withName: '.*:SAMTOOLS_BAM|.*:SAMTOOLS_MERGE_BAM_MULTI_SAMPLE' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
             path: { "${params.global_output_dir}/06_MINIMAP2_ALIGN/BAM" },
             mode: params.publish_dir_mode,
             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.keep_temp = { params.minimap2_align_keep_sam }
    }

    withName: '.*:FXSPLIT' {
        ext.chunks = params.fxsplit_chunk_size
        errorStrategy = 'ignore'
    }

    withName: '.*:ISOTOOLS_SEGMENT.*' {
        publishDir = [
            path: { "${params.global_output_dir}/07_ISOTOOLS_SEGMENT_POLYA" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.keep_temp = { params.isotools_segment_keep_low_quality_reads }
        ext.args   = {
            // Standard configuration!
            def args = [ 
              "--min-identity ${params.isotools_segment_min_identity}",
              "--identity ${params.isotools_segment_identity_threshold}",
              "--tail-suffix ${params.isotools_segment_tail_suffix_length}",
              "--step-size ${params.isotools_segment_suffix_step_size}",
              "--clip5 ${params.isotools_segment_max_five_prime_clip}",
              "--clip3 ${params.isotools_segment_max_three_prime_clip}",
              "--p2p ${params.isotools_segment_hmm_transition_probability}",
              "-E ${params.isotools_segment_hmm_emission_probability}",
              "--tag",
              "-B",
              "-X"
            ]

            return args.join(' ')
        }
        ext.keep_temp = { params.minimap2_align_keep_sam }
    }

    withName: '.*:ISOTOOLS_FUSION.*' {
        publishDir = [
            path: { "${params.global_output_dir}/08_ISOTOOLS_FUSION_DETECTOR" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.keep_temp = { params.isotools_segment_keep_low_quality_reads }
        ext.args   = {
            // Standard configuration!
            def args = [ 
              "--threshold ${params.isotools_fusion_threshold}",
              "--overlap-type ${params.isotools_fusion_overlap_type}",
              "--separator '${params.isotools_fusion_reference_separator}'",
              "--parent-index ${params.isotools_fusion_reference_parent_index}",
              "--tag",
            ]

            if (params.isotools_fusion_recover_components) {
                args += "--recover"
            }

            if (params.isotools_fusion_intronic_match) {
                args += "--intron-match"
            }

            if (params.isotools_fusion_output_descriptor) {
                args += "--descriptor"
            }

            return args.join(' ')
        }
        ext.keep_temp = { params.minimap2_align_keep_sam }
    }

    // Add params to concat
    withName: '.*:XORF_PREDICT_ORFS:CONCAT' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
             path: { "${params.global_output_dir}/09_XORF_PREDICTION/CONCAT/${meta.name}" },
             mode: params.publish_dir_mode,
             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:XORF_PREDICT_ORFS:CONCAT_RAW' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
             path: { "${params.global_output_dir}/09_XORF_PREDICTION/CONCAT_RAW/${meta.name}" },
             mode: params.publish_dir_mode,
             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // Add params to fusion concat
    withName: '.*:XORF_PREDICT_FUSION_ORFS:CONCAT' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
             path: { "${params.global_output_dir}/09_XORF_PREDICTION/FUSION_CONCAT/${meta.name}" },
             mode: params.publish_dir_mode,
             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:XORF_PREDICT_FUSION_ORFS:CONCAT_RAW' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
             path: { "${params.global_output_dir}/09_XORF_PREDICTION/FUSION_CONCAT_RAW/${meta.name}" },
             mode: params.publish_dir_mode,
             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:NETSTART' {
        containerOptions = '--env HF_HUB_OFFLINE=1 --env TRANSFORMERS_OFFLINE=1 --env NETSTART2_ALLOW_HF_DOWNLOAD=0'
    }

    withName: '.*:PREDICT' {
        ext.when = true
        ext.min_score_max_predictions = params.xorf_predict_min_score_max_predictions
        ext.max_predictions = params.xorf_predict_max_predictions
        ext.threshold = params.xorf_predict_threshold
        ext.args   = {
            // Standard configuration!
            def base_args = []

            if (params.xorf_predict_keep_raw) {
              base_args = base_args + ' --keep-raw'
            }
            
            if (base_args.size() > 0) {
              return base_args.join(' ')
            } else {
              return ''
            }
        }
    }

    withName: '.*:ISOTOOLS_NMD_FILTER' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
             path: { "${params.global_output_dir}/10_ISOTOOLS_NMD_FILTER" },
             mode: params.publish_dir_mode,
             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = {
            // Standard configuration!
            def args = [ 
              "--nmd-distance ${params.isotools_nmd_distance}",
              "--weak-nmd-distance ${params.isotools_nmd_weak_distance}",
              "--atg-distance ${params.isotools_nmd_atg_distance}",
              "--big-exon-dist-to-ej ${params.isotools_nmd_big_exon_dist_to_ej}",
            ]

            return args.join(' ')
        }
    }

    withName: '.*:XLOCI_EXTRACT_INTRONS' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
             path: { "${params.global_output_dir}/11_PREPOLISH/INTRONS" },
             mode: params.publish_dir_mode,
             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = {
            // Standard configuration!
            def args = [ 
              "--upstream-flank ${params.xloci_upstream_flank}",
              "--downstream-flank ${params.xloci_downstream_flank}",
              "--split-extraction",
              "--as-tsv",
              "--add-tab",
              "--generic-id"
            ]

            return args.join(' ')
        }
    }

    withName: '.*:IIC_PREDICT_SPLICEOSOME' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
             path: { "${params.global_output_dir}/11_PREPOLISH/IIC" },
             mode: params.publish_dir_mode,
             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = {
            // Standard configuration!
            def args = [ 
                "--no-abbreviate"
            ]

            return args.join(' ')
        }
    }

    withName: '.*:ISOTOOLS_CLASSIFY_INTRON' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
             path: { "${params.global_output_dir}/11_PREPOLISH/CLASSIFY" },
             mode: params.publish_dir_mode,
             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = {
            // Standard configuration!
            def args = [ 
              "--scan",
              "--nag",
              "-S ${params.isotools_classify_spliceai_min_ss_signal}",
              "-F ${params.isotools_classify_rt_frequency_threshold}",
              "-f ${params.isotools_classify_intron_frequency_threshold}",
              "-M ${params.isotools_classify_maxent_min_ss_signal}"
            ]

            return args.join(' ')
        }
    }

    withName: '.*:XISO_APARENT_CHUNK' {
        ext.prefix = { "${meta.id}" }
        ext.args = {
            // Standard configuration!
            def args = [ 
                "--upstream ${params.xloci_upstream_flank}",
                "--downstream ${params.xloci_downstream_flank}",
                "--chunks ${params.aparent_chunker_chunk_size}",
            ]

            return args.join(' ')
        }
    }

    withName: '.*:APARENT_PREDICT' {
        ext.prefix = { "${meta.id}.${meta.chunk}" }
        ext.args = {
            // Standard configuration!
            def args = [ 
                "--threshold ${params.aparent_peak_threshold}",
            ]

            return args.join(' ')
        }
    }

   withName: '.*:BIGTOOLS_BEDGRAPHTOBIGWIG_FORWARD|.*:BIGTOOLS_BEDGRAPHTOBIGWIG_REVERSE' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
             path: { "${params.global_output_dir}/11_PREPOLISH/APARENT" },
             mode: params.publish_dir_mode,
             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:DETACH_DUPLICATES|.*:JOIN_VEREDICT_TRASH|.*:JOIN_VEREDICT_RETENTIONS|.*:JOIN_VEREDICT_TRUNCATIONS|.*:JOIN_VEREDICT_INTRAPRIMMING|.*:JOIN_FUSIONS|.*:JOIN_NMD' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
             path: { "${params.global_output_dir}/12_POLISH/BED" },
             mode: params.publish_dir_mode,
             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:PUBLISH_BIGBEDS|.*:PUBLISH_ADDITIONAL_BIGBEDS' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
             path: { "${params.global_output_dir}/12_POLISH/BB" },
             mode: params.publish_dir_mode,
             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: '.*:TRACKDB' {
        publishDir = [
             path: { "${params.global_output_dir}/13_TRACKDB" },
             mode: params.publish_dir_mode,
             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}


/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    EXECUTOR/PROFILES CONFIG
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

profiles {
    slurm {
        process.executor = 'slurm'
        process.queue    = 'batch'
        process.scratch  = true
        executor {
            clusterOptions  = null
            queueSize       = params.queue_size
            array           = params.array_size
            penv            = null
        }
    }
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        conda.channels          = ['conda-forge', 'bioconda']
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
        includeConfig 'conf/arm.config'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
        process {
            resourceLimits = [
                memory: 8.GB,
                cpus  : 4,
                time  : 1.h
            ]
        }
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    PROCESS LABELS;
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    // Single processes
    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 6.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }

    // Low memory processes
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withLabel:custom_process_low {
        cpus   = { 4     * task.attempt }
        memory = { 10.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
     withLabel:process_low_long {
        cpus   = { 4     * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 10.h   * task.attempt }
    }

    // Medium memory processes
    withLabel:process_medium {
        cpus   = { 6     * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel:process_medium_fast {
        cpus   = { 6     * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 2.h   * task.attempt }
    }
    withLabel:process_medium_high_memory {
        cpus   = { 6 }
        memory = { 96.GB * task.attempt }
        time   = { 12.h }
    }

    withLabel:custom_process_medium {
        cpus   = { 6     * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 12.h   * task.attempt }
    }

    // High memory processes
    withLabel:process_high {
        cpus   = { 12    * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 200.GB * task.attempt }
    }
    withLabel:process_high_fast {
        cpus   = { 12    * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }

    // Long running processes
    withLabel:process_long {
        time   = { 20.h  * task.attempt }
    }

    // Strategies
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }

    // GPU
    withLabel: process_gpu {
        ext.use_gpu = { workflow.profile.contains('gpu') }
        accelerator = { workflow.profile.contains('gpu') ? 1 : null }
    }
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    REGISTRY CONFIG
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ENVIRONMENT CONFIG
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    BASH OPTIONS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]


/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    REPORT PARAMETER VALUES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.global_output_dir}/PIPELINE_INFO/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.global_output_dir}/PIPELINE_INFO/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.global_output_dir}/PIPELINE_INFO/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.global_output_dir}/PIPELINE_INFO/pipeline_dag_${params.trace_report_suffix}.html"
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MANIFEST
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


manifest {
    name            = 'alejandrogzi/isox'
    homePage        = 'https://github.com/alejandrogzi/isox'
    description     = """Bulk RNA-seq analysis pipeline for transcript discovery"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.10.5'
    version         = '2.0.14'
}

validation {
    help {
        enabled = true
        command = "nextflow run main.nf -profile <docker/singularity/.../institute>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
    }
}
